body{
	margin:0;
	
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Photo/cover5.jpg);

	height:220px;
	width: 100%;
	
	
	
}
.point td.name{
	color:red;
	font-family: Consolas;
	font-weight:bold;
	padding-right:40px;
	padding-left:300px;
	padding-bottom:10px;
	
}
.point td.disname{
	color:blue;
	font-family:Verdana;
	font-size:15px;
	padding-right:120px;
	text-align: justify;
	text-justify: inter-word;
	
	
}

h1{
	color:brown;
	font-family:Century Gothic;
	
}
p{
	color:brown;
	margin-left:80px;
	font-family:consolas;
	
}
.point{
	margin-top:60px;
	
	padding:30px;
	width:100%;
	
	background: rgba(255,0,25,.1);
	border: 1px solid #4CAF50;
    	border-radius: 10px;
	
	
}
td.images img{
	margin-top:180px;
	left:12%;
	position:absolute;
	transform:translate(-50%, -50%);
	border-radius:10px;
	
	
}


.pr{
	font-family:century gothic;
	font-weight:bold;
	color:white;
}



ul{
	float:left;
	list-style-type: none;
	margin:20px;
}
ul.cat{
	float:left;
	list-style-type: none;
	margin:10px;
	width:100%;
	
	
}

ul li{
	display:inline-block;
}
.button ul li a{
	text-decoration: none;
	font-family:consolas;
	color:white;
	padding:5px 20px;
	border:1px solid transparent;
	transition: .8s ease;
	background-color:white;
	color:black;
	border-radius:5px;
}


.button{
	max-width: 1500px;
	
	margin:auto;
}
.reviews{
	margin-top:30px;
}




.movies {
  position: absolute;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 18%;
  top:82px;
  left:1228px;
  overflow:hidden;
  overflow-y: auto;
  height: 300px;
  display:block;
   
}

.movies td {
  border: 1px solid #ddd;
  padding: 8px;
  padding-right:65px;
}

.movies tr td:nth-child(even){background-color: #f2f2f2;}


.movies tr:hover {background-color: #ddd;}

.movies tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


